# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
---
version: 2

updates:

    -   package-ecosystem: "composer"
        directory: "/"
        schedule:
            interval: "weekly"
        groups:
            all:
                patterns:
                    - "*"
        ignore:
            -   dependency-name: "phpunit/phpunit"
                versions: [ "10.x", "11.x" ]
            -   dependency-name: "symfony/filesystem"
                versions: [ "6.x" ]
            -   dependency-name: "symfony/process"
                versions: [ "6.x" ]

    -   package-ecosystem: "github-actions"
        directory: "/"
        schedule:
            interval: "weekly"
