/.github             export-ignore
/.gitignore          export-ignore
/.idea               export-ignore
/tests               export-ignore
/var                 export-ignore
/.gitattributes      export-ignore
/composer.lock       export-ignore
/grumphp.yml.dist    export-ignore
/infection.json      export-ignore
/phpmd.xml           export-ignore
/phpstan.neon        export-ignore
/phpunit.xml.dist    export-ignore
/psalm.xml.dist      export-ignore
/phpcs.xml.dist      export-ignore
