!/.idea/dictionaries/project.xml
!/var/*/.gitkeep
/.deptrac.cache
/.idea/composer-stager.iml
/.idea/dictionaries/*
/.idea/php.xml
/.idea/sonarlint-state.xml
/.idea/sonarlint/issuestore
/.idea/workspace.xml
/grumphp.yml
/phpcs.xml
/phpunit.xml
/psalm.xml
/var/*/*
/vendor/
