/.gitattributes       export-ignore
/.github              export-ignore
/.gitignore           export-ignore
/.idea                export-ignore
/composer.lock        export-ignore
/config               export-ignore
/phpcs.xml.dist       export-ignore
/phpstan.neon.dist    export-ignore
/phpunit.xml.dist     export-ignore
/tests                export-ignore
/tools                export-ignore
/var                  export-ignore
