# https://github.com/phpro/grumphp#configuration
grumphp:
    ascii:
        failed: ~
        succeeded: ~
    fixer:
        enabled: false
    hide_circumvention_tip: true
    process_timeout: 120

    tasks:
        clover_coverage:
            clover_file: var/phpunit/clover.xml
            # Requiring 100% code coverage here makes it safe to just put a static
            # badge in the README rather than using some third-party service. If
            # this ever changes, that strategy will have to change accordingly.
            level: 100
        composer: ~
        composer_normalize: ~
        deptrac:
            cache_file: var/deptrac/cache.json
            depfile: deptrac.yml
        phpcs:
            standard: []
            whitelist_patterns:
                - src
                - tests
        phplint:
            ignore_patterns:
                - .idea
                - var
                - vendor
        phpmd:
            whitelist_patterns:
                - src
            ruleset:
                - phpmd
        phpstan:
            use_grumphp_paths: false
        phpunit:
            exclude_group:
                - windows_only
        psalm: ~
        xmllint:
            ignore_patterns:
                - .idea
                - var
                - vendor
            triggered_by:
                - xml
                - xml.dist
        yamllint:
            whitelist_patterns:
                - .github
                - /^.*.ya?ml(.dist)?$/
                - config
                - src

    testsuites:
        static:
            tasks:
                - composer
                - composer_normalize
                - deptrac
                - phpcs
                - phplint
                - phpmd
                - psalm
                - phpstan
                - xmllint
                - yamllint
        test:
            tasks:
                - clover_coverage
                - phpunit
