{
    "$schema": "https://raw.githubusercontent.com/infection/infection/0.26.2/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 30,
    "logs": {
        "text": "var/infection/infection.log",
        "html": "var/infection/log/infection.html",
        "summary": "var/infection/log/summary.log"
    },
    "mutators": {
        "@default": true
    },
    "testFrameworkOptions": "--exclude-group=windows_only"
}
