parameters:
    level: max
    tmpDir: var/phpstan
    paths:
        - bin/composer-stage
        - src
    exceptionRules:
        reportCheckedThrowsInGlobalScope: false
    ignoreErrors:
        -
            message: '#PHPDoc tag @throws with type [a-zA-Z0-9\|\\_]+ is not compatible with parent#'
            path: .

services:
    -
        class: \PhpTuf\ComposerStager\Tests\PHPStan\Classes\ConcreteClassNotFinalRule
        tags:
            - phpstan.rules.rule
    -
        class: \PhpTuf\ComposerStager\Tests\PHPStan\Classes\MissingInterfaceRule
        tags:
            - phpstan.rules.rule
    -
        class: \PhpTuf\ComposerStager\Tests\PHPStan\Classes\MissingInternalAnnotationRule
        tags:
            - phpstan.rules.rule
