<?xml version="1.0" encoding="UTF-8"?>

<!-- https://docs.phpunit.de/en/10.5/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory="var/phpunit/cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         failOnWarning="true"
         failOnRisky="true"
         defaultTestSuite="all"
>
    <testsuites>
        <testsuite name="all">
            <directory suffix="UnitTest.php">tests</directory>
            <directory suffix="FunctionalTest.php">tests</directory>
        </testsuite>
        <testsuite name="unit">
            <directory suffix="UnitTest.php">tests</directory>
        </testsuite>
        <testsuite name="functional">
            <directory suffix="FunctionalTest.php">tests</directory>
        </testsuite>
        <testsuite name="compatibility">
            <directory>tests/Compatibility</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <coverage>
        <report>
            <clover outputFile="var/phpunit/clover.xml"/>
            <html outputDirectory="var/phpunit/html-coverage"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="var/phpunit/junit.xml"/>
    </logging>

    <php>
        <ini name="zend.assertions" value="1"/>
    </php>
</phpunit>
