<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/stable/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResultFile="var/phpunit/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="UnitTest.php">tests/PHPUnit</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory suffix="FunctionalTest.php">tests/PHPUnit</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="var/phpunit/coverage-cache"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="var/phpunit/clover.xml"/>
            <html outputDirectory="var/phpunit/html-coverage"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="var/phpunit/junit.xml"/>
    </logging>
</phpunit>
