---
name: Tests

on:
    push:
        branches: [ main, develop, wip ]
        paths-ignore:
            - .idea/**
            - docs/**
    pull_request:
        branches: [ develop ]
        paths-ignore:
            - .idea/**
            - docs/**
    schedule:
        # Every Monday at 00:00:00 UTC.
        # @see https://crontab.cronhub.io/
        -   cron: "0 0 * * 1"

jobs:
    coverage:
        name: "Code Coverage"
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php: [ "7.4" ]
        steps:
            -   name: "Set up PHP"
                uses: shivammathur/setup-php@v2 # https://github.com/marketplace/actions/setup-php-action
                with:
                    php-version: "${{ matrix.php }}"
                    coverage: xdebug2

            -   name: "Checkout code"
                uses: actions/checkout@v2 # https://github.com/marketplace/actions/checkout

            -   name: "Install dependencies"
                uses: ramsey/composer-install@v1 # https://github.com/marketplace/actions/install-composer-dependencies
                with:
                    # Disable Composer caching due to random failures it causes.
                    # @see https://github.com/ramsey/composer-install/issues/79
                    composer-options: "--no-cache"

            -   name: "Generate code coverage"
                run: "composer coverage"

    tests:
        name: "Test: ${{ matrix.os }}, ${{ matrix.dependencies }}, PHP ${{ matrix.php }}"
        runs-on: "${{ matrix.os }}"
        strategy:
            fail-fast: false
            matrix:
                os: [ ubuntu-latest, macos-latest, windows-latest ]
                php: [ "7.3", "7.4", "8.0" ]
                dependencies: [ lowest, highest ]
        steps:
            -   name: "Set up PHP"
                uses: shivammathur/setup-php@v2 # https://github.com/marketplace/actions/setup-php-action
                with:
                    php-version: "${{ matrix.php }}"
                    coverage: xdebug2

            -   name: "Checkout code"
                uses: actions/checkout@v2 # https://github.com/marketplace/actions/checkout

            -   name: "Install dependencies"
                uses: ramsey/composer-install@v1 # https://github.com/marketplace/actions/install-composer-dependencies
                with:
                    dependency-versions: "${{ matrix.dependencies }}"
                    # Disable Composer caching due to random failures it causes, particularly on Windows jobs.
                    # @see https://github.com/ramsey/composer-install/issues/79
                    composer-options: "--no-cache"

            -   name: "Validate composer.json"
                run: "composer validate"

            -   name: "Lint PHP"
                run: "composer lint"

            -   name: "Run PHPCS"
                if: "matrix.os != 'windows-latest'" # Windows line endings wreak havoc with coding standards.
                run: "composer phpcs"

            -   name: "Run PHPStan"
                run: "composer phpstan"

            -   name: "Run Psalm"
                run: "composer psalm"

            -   name: "Run PHPMD"
                run: "composer phpmd"

            -   name: "Run PHPUnit"
                run: "composer test"

            -   name: "Check dependencies for known security vulnerabilities"
                run: "composer security"
